<div class="container-card">
    <div class="card__title">
        <h3>
            Valor do Dólar
        </h3>
    </div>
    <div class="card__body">
        <!-- puxando o nome da moeda -->
        <h1> {{valorMoeda.name}} </h1>
        <hr>
        <br>
        <!-- puxando o valor da moeda, atualizando de 30 em 30 segundos. Utilizado pipe para corrigir o valor para X.XX ao invés de X.XXXX -->
        <h3> R{{valorMoeda.ask | currency}}</h3>
        
    </div>
    <div class="card__stats">
        <span class="card__stats__type">
            <!-- data, mês e ano (pipe) -->
            {{todayDate | date:'dd/MM/YYYY'}}
            <!-- horário com hh:MM (pipe)  -->
            {{todayDate | date:'shortTime' : 'pt-BR'}}
        </span>
    </div>
</div>
