.container-card{
    border: 1px solid black;
    width: 170px;
    height: 200px;
    display: flex;
    flex-direction: column;
    
    border-radius: 10px;
}
.card__title{
    margin-left: auto;
    margin-right: auto;
}
.card__title > h3{
    margin-top: 4px;
    margin-bottom: 4px;
    font-size: 10px;
    color: black;
}
.card__body{
    background-color: #c4b7b7;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: 70%;
}

.card__stats{
    margin-top: 2px;
    padding-top: 2px;
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.card__stats__type{
    color: black;
    font-size: 10px;
    border-radius: 5px;
    padding: 5px;
    margin-right: 4px;
    margin-bottom: 4px;
}