.container__big-card{
    margin-top: 10px;
    width: 600px;
    height: auto;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: flex-start;
}

.big-card__picture > img {
    border-radius: 8px;
    border: 1px solid black;
}

.big-card__title > h1{
    margin-left: 5px;
    margin-top: 5px;
    font-size: 30px;
}

.big-card__description > p{
    margin-left: 5px;
    margin-top: 5px;
    color: gray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: px;
}