<div class="container__big-card">
    <div class="big-card__picture">
        <img src="https://media.seudinheiro.com/cdn-cgi/image/fit=contain,width=640&,format=auto/uploads/2019/07/real-d%C3%B3lar-628x353.jpg" alt="" 
        height="200px"
        width="auto">
    </div>
    <div class="big-card__title">
        <h1> Sobre o Dólar </h1>
    </div>
    <div class="big-card__description">
        <p>O dólar dos Estados Unidos (US Dollar, USD, US$) é a moeda emitida pelos Estados Unidos através da Reserva Federal dos Estados Unidos.

            Ele também é a moeda oficial do Timor-Leste, Equador, El Salvador, Panamá e Porto Rico. Também é usado não-oficialmente nas Ilhas Virgens Britânicas, Ilhas Marshall, Estados Federados da Micronésia, Palau, Turks e Cacos e Zimbabwe
            
            Ele possui moedas de 1, 5, 10, 25, 50 cents e 1 dólar. As notas que circulam hoje são de 1, 5, 10, 20, 50 e 100 dólares.</p>
            <br>
    </div>
</div>
