

.container__articles{
    margin-top: 30;
    display: flex;
    flex-direction: row;
    

}

.articles__others{
    margin-left: 150px;
    margin-top: 10px;
    text-align: center;
}
header{
    display: flex;
    justify-content: center;
    font-family: 'Oswald', sans-serif;
}