*{
    color: black;
}
.container__menu-bar{
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 8px;
    
}

.container__menu-bar > ul{
    display: flex;
    flex-direction: row;
    
}
.container__menu-bar > ul > li {
    margin-right: 20px;
    list-style: none;
}

