@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
*{
    font-size: 15px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}
